.listItem{
    margin: 35px;
    padding: 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 400px;
}

.listItem .item{
    margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.listItem .item .imgGame{
    border-radius: 15px;
}

.listItem .item .infoGame{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
}

.listItem .item .infoGame .text {
    display: inline-flex;
    position: relative;
}

.nameGame{
    color: black;
    font-size: 20px;
}

.priceGame{
    font-size: 25px;
}