header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232526;
    height: 100px;
}

.titulo{
    color: white;
    margin-left: 30px;
    list-style: none;
}

.navList{
    margin: 0 2rem;
    list-style: none;
}